<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inspector</title>
    <link rel="stylesheet" href="./static/css/new.css">
</head>
<body>
    <header>
        <h1>Inspector</h1>
    </header>
    <div class="row">
        <div align="center" class="left_column">
            <h2>Essay</h2>
            <form action="" method="POST" enctype=multipart/form-data>
                <p>
                    <textarea class="essay" name="text" placeholder="Enter your essay or upload txt-file">{{ text }}</textarea>
                </p>
                    <input class="bttn-dark" type="file" name=file>
                    <button class="bttn-dark" type="submit">Inspect</button>
            </form>
            {% if show_results %}
                <p class="text_recommendation">
                    <span class="academic">Lexical density</span> is the ratio of the number of lexical words (nouns, adjectives, verbs, and adverbs) to the total number of words in a text.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of possessives</span>: possessives are forms that we use to talk about possessions and relationships between things and people, for example: <em>mother's smile</em>, <em>the clothes of my father</em>.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of coordinated phrases</span>: only adjectives, adverbs, nouns and verb phrases can be coordinated, for example: <em>She is <strong>beautiful and smart</strong></em>. <em>He <strong>smiled and went away</strong></em>.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of auxilaries</span>: <em>have</em>, <em>do</em>, <em>be</em>, <em>can</em>, <em>should</em>, <em>must</em>...
                </p>
                <p class="text_recommendation">
                    <span class="academic">Average number of words before root</span>: a root is a main verb of the sentence, for example: <em><strong>She</strong> is beautiful and smart</em>. <em><strong>My mother</strong> went to help them</em>.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of adjectival clauses</span>: an adjectival clause is a clause that modifies nominal phrase (noun), for example: <em>There are many online sites <strong>offering booking facilities</strong></em>.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of functional n-grams</span>: functional n-grams are frequent organising collocations, for example: <em>is totally different from</em>, <em>a large amount of</em>.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Derivational level 3</span>: the number of words with suffixes from <a href="https://www.pdffiller.com/jsfiller-desk14/?projectId=301149742&expId=5010&expBranch=3#1f2d9152ddc848798c5e2e06bc4db69c">(Bauer and Nation 1993)</a>, for example: -<em>able</em> (<em>readable</em>), -<em>er</em> (<em>reader</em>), -<em>ish</em> (<em>freakish</em>), -<em>less</em> (<em>peerless</em>), -<em>ly</em> (<em>quickly</em>).
                </p>
                <p class="text_recommendation">
                    <span class="academic">Derivational level 4</span>: the number of words with suffixes from <a href="https://www.pdffiller.com/jsfiller-desk14/?projectId=301149742&expId=5010&expBranch=3#1f2d9152ddc848798c5e2e06bc4db69c">(Bauer and Nation 1993)</a>, for example: -<em>tion</em> (<em>attention</em>), -<em>ess</em> (<em>happiness</em>), -<em>ful</em> (<em>wonderful</em>), -<em>ism</em> (<em>realism</em>), -<em>ist</em> (<em>specialist</em>), -<em>ity</em> (<em>civility</em>).
                </p>
                <p class="text_recommendation">
                    <span class="academic">Derivational level 5</span>: the number of words with suffixes from <a href="https://www.pdffiller.com/jsfiller-desk14/?projectId=301149742&expId=5010&expBranch=3#1f2d9152ddc848798c5e2e06bc4db69c">(Bauer and Nation 1993)</a>, for example: -<em>age</em> (<em>percentage</em>), -<em>al</em> (<em>approval</em>), -<em>ally</em> (<em>idiotically</em>), -<em>an</em> (<em>Russian</em>).
                </p>
                <p class="text_recommendation">
                    <span class="academic">Derivational level 6</span>: the number of words with suffixes from <a href="https://www.pdffiller.com/jsfiller-desk14/?projectId=301149742&expId=5010&expBranch=3#1f2d9152ddc848798c5e2e06bc4db69c">(Bauer and Nation 1993)</a>, for example: -<em>ee</em> (<em>attendee</em>), -<em>ic</em> (<em>poetic</em>), -<em>ify</em> (<em>intensify</em>).
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of sentences</span>: a sentence is a group of words that is separated from another such group by a full stop, a question mark, an exclamation mark, a quotation mark, or suspension points.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of clauses</span>: a clause is a structure with a subject and a predicate, for example: <em>I read a book, Lola danced.</em> - 2 clauses.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of lemmas</span>: <em>I am fine</em> - 3 lemmas (<em>I</em>, <em>be</em>, <em>fine</em>).
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of infinitives</span>: <em>to read</em>, <em>to dance</em>.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Noun variation</span> is the ratio of the number of nouns to the total number of lexical words (nouns, adjectives, verbs, and adverbs) in a text.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Verb variation</span> is the ratio of the number of verbs to the total number of lexical words (nouns, adjectives, verbs, and adverbs) in a text.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Lexical sophistication</span> is the ratio of the number of advanced words to the total number of words.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of linking phrases</span>: <em>besides</em>, <em>however</em>, <em>in conclusion</em>...
                </p>
                <p class="text_recommendation">
                    <span class="academic">Average length of the sentence</span>: the average number of words per sentence.
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of gerunds</span>: <em>doing</em>, <em>smiling</em>, <em>running</em>...
                </p>
                <p class="text_recommendation">
                    <span class="academic">Number of verbs in past simple</span>: <em>smiled</em>, <em>looked</em>, <em>tried</em>...
                </p>
                <p class="text_recommendation">
                    <span class="academic">Verb sophistication</span> is the ratio of the number of advanced verbs to the total number of words.
                </p>
            {% endif %}
        </div>
        <div class="right_column">
            <h2>Result</h2>
            {% if show_results %}
                <p class="text_recommendation">
                {{ binary_result }} The probable grade in the exam is <span class="underline">{{grade}}</span>. To improve your writing skills look at the recommendations below.
                </p>
                <h2>Statistics</h2>
                <p>
                    <table class="table_recommendation">
                        <tr>
                            <td style="width: 200px;">Number of words</td><td style="text-align: center; width: 50px;">{{ num_tok }}</td>
                        </tr>
                        <tr>
                            <td style="width: 200px;">Number of lemmas</td><td style="text-align: center; width: 50px;">{{ ndw }}</td>
                        </tr>
                        <tr>
                            <td style="width: 200px;">Number of sentences</td><td style="text-align: center; width: 50px;">{{ num_sent }}</td>
                        </tr>
                    </table>
                </p>
                <p class="header_text_recommendation">
                    Information about <span class="academic">academic words</span> and <span class="connector">linking phrases</span>
                </p>
                <p>
                    <table class="table_recommendation">
                        <tr>
                            <td style="width: 200px;">Number of academic words</td><td style="text-align: center; width: 50px;">{{ num_aca }}</td>
                        </tr>
                        <tr>
                            <td style="width: 200px;">Number of linking phrases</td><td style="text-align: center; width: 50px;">{{ num_con }}</td>
                        </tr>
                    </table>
                </p>
                <p class="text_recommendation">
                    {{ bolded_text }}
                </p>
                <p class="header_text_recommendation">
                    Spelling mistakes
                </p>
                <p class="text_recommendation">
                    {{ mistakes }}
                </p>
                <h2>Recommendations</h2>
                    <p class="text_recommendation">
                        The model that predicted your grade is based on the features presented in the table below. Having compared the mean values of these features, we highlight the features that you should improve (<span class="connector">green</span> - good indicators; <span class="academic">red</span> - features to be improved). {{ feedback }}
                    </p>
                    <p class="text_recommendation">
                        {{ mean }}
                    </p>
            {% endif %}
        </div>
    </div>
</body>
</html>

